<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terry</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <img src="{% static 'img/hand.svg' %}" alt="Avatar" class="avatar">
            <div class="chat-user-info">
                <h3>Terry</h3>
                <p>Online</p>
            </div>
            <div class="chat-header-icons">
                <img class="expand-icon" alt="Expandir" src="{% static 'img/grupo-641.png' %}" />
                <a href="http://localhost:8001/logout/"> <!-- Enlace para redirigir al logout -->
                    <img class="logout" alt="Logout" src="{% static 'img/grupo-179.png' %}" />
                </a>
            </div>
        </div>
        <div class="chat-messages" id="messages" style="background-image: url('{% static 'img/fondo-wh-oscuro.png' %}');"></div>
        <div class="chat-input">
            <input type="text" id="query" placeholder="Write a message..." />
            <img id="sendButton" src="{% static 'img/sent.png' %}" alt="Enviar" class="send-icon">
        </div>
        <input type="hidden" id="user_id" value="{{ user_id }}">
    </div>
    <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>
