<!DOCTYPE html>
<html>
<head>
    <title>Chat with AI</title>
    {% load static %} <!-- Cargar las etiquetas 'static' de Django -->

    <!-- Incluir el archivo de estilos CSS desde la carpeta 'static/styles.css' -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <!-- MathJax para fórmulas matemáticas -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script type="text/javascript">
        MathJax = {
            tex: {
                inlineMath: [['\\(', '\\)']],
                displayMath: [['\\[', '\\]']],
                processEscapes: true,
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <div class="chat-container">
        <!-- El ID de usuario se pasa automáticamente desde el backend -->
        <input type="hidden" id="user_id" value="{{ user_id }}">
        
        <div id="messages"></div>
        
        <!-- Formulario para logout -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>

        <div class="input-container">
            <input type="text" id="query" placeholder="Escribe tu consulta...">
            <button id="sendButton">Enviar</button>
        </div>
    </div>

    <!-- Cargar el archivo JavaScript externo -->
    <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>
